@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

$moderateviolet: hsl(263, 55%, 52%);
$verydarkgrayishblue: hsl(217, 19%, 35%);
$verydarkblackishblue: hsl(219, 29%, 14%);
$lightgray: hsl(0, 0%, 81%);
$lightgrayishblue: hsl(210, 46%, 95%);

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $lightgrayishblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Barlow Semi Condensed";
}

.item1 {
    background: $moderateviolet;
    color: white;
    grid-column: span 2;
    
    @media screen and (max-width:700px) {
        grid-column: span 1;
    }
}

.item2 {
    background: $verydarkgrayishblue;
    color: white;
    
    @media screen and (max-width:700px) {
        
    }
}

.item3 {
    background: $lightgray;
    color: black;
    grid-row: span 2;
    
    @media screen and (max-width:700px) {
        
    }
}

.item4 {
    background: white;
    color: black;
    
    @media screen and (max-width:700px) {
        
    }
}

.item5 {
    background: $verydarkblackishblue;
    color: white;
    grid-column: span 2;
    
    @media screen and (max-width:700px) {
        grid-column: span 1;
    }
}

.grid-container {
    display: grid;
    width: 80%;
    height: 80%;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media screen and (max-width:700px) {
        grid-template-columns: 1fr;
    }

    .grid-item {
        border-radius: 0.5rem;
        padding: 2em;
        width: 100%;
        height: 100%;
        box-shadow: 1em 2em 3em rgba(56, 56, 56, 0.164);

        .author {
            width: 100%;
            display: flex;
            align-items: center;

            img {
                border-radius: 50%;
                border-color: white;
                border-width: 2px;
                border-style: solid;
                width: 40px;
                height: 40px;
            }

            .author-title {
                margin-left: 1em;

                & > * {
                    margin: 0;
                }
            }
        }

        .headline {
            font-size: 24px;
        }

        .description {
            font-size: 13px;
        }

        p {
            margin: 1em 0 0 0;
        }
    }
}

.attribution {
    position: absolute;
    bottom: 0;
}