@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #ecf2f8;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-family: "Barlow Semi Condensed";
}

.grid-container {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  width: 70%;
  gap: 2rem;
  margin: 2rem 0;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "item1 item1 item2 item3" "item4 item5 item5 item3";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 700px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "item1" "item2" "item4" "item5" "item3";
    width: 90%;
    margin: 3rem 0;
  }
}

.grid-container .grid-item {
  position: relative;
  border-radius: 0.5rem;
  padding: 1em 2em;
  height: 100%;
  -webkit-box-shadow: 1em 2em 3em rgba(56, 56, 56, 0.164);
          box-shadow: 1em 2em 3em rgba(56, 56, 56, 0.164);
}

@media screen and (max-width: 700px) {
  .grid-container .grid-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 90%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1em 2em;
  }
}

.grid-container .grid-item .quote-pic {
  position: absolute;
  right: 15%;
  top: 0;
}

.grid-container .grid-item .content {
  position: relative;
}

.grid-container .grid-item .author {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .grid-item .author img {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  width: 40px;
  height: 40px;
}

.grid-container .grid-item .author .author-title {
  margin-left: 1em;
  font-size: 13px;
}

.grid-container .grid-item .author .author-title > * {
  margin: 0;
}

.grid-container .grid-item .author .author-title h4 {
  font-weight: 500;
}

.grid-container .grid-item .author .author-title h5 {
  font-weight: 600;
}

.grid-container .grid-item .headline {
  font-weight: 600;
  font-size: 20px;
}

.grid-container .grid-item .description {
  font-weight: 500;
  font-size: 13px;
}

.item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item1;
  background: #7541c8;
  color: white;
  grid-column: span 2;
}

@media screen and (max-width: 700px) {
  .item1 {
    grid-column: span 1;
  }
}

.item1 .author img {
  border-color: #af9ad0;
}

.item1 .author .author-title h4 {
  color: #dedce0;
}

.item1 .author .author-title h5 {
  color: #af9ad0;
}

.item1 .description {
  color: #af9ad0;
}

.item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item2;
  background: #48556a;
  color: white;
}

.item2 .author img {
  border-color: white;
}

.item2 .author .author-title h4 {
  color: #f2f2f2;
}

.item2 .author .author-title h5 {
  color: #a3a8b2;
}

.item2 .description {
  color: #a3a8b2;
}

.item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: item3;
  background: white;
  color: black;
  grid-row: span 2;
}

.item3 .author img {
  border-color: white;
}

.item3 .author .author-title h4 {
  color: #48556a;
}

.item3 .author .author-title h5 {
  color: #a3a8b2;
}

.item3 .description {
  color: #7e838b;
}

.item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item4;
  background: white;
  color: black;
}

.item4 .author img {
  border-color: white;
}

.item4 .author .author-title h4 {
  color: #48556a;
}

.item4 .author .author-title h5 {
  color: #a3a8b2;
}

.item4 .description {
  color: #7e838b;
}

.item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: item5;
  background: #19212e;
  color: white;
  grid-column: span 2;
}

@media screen and (max-width: 700px) {
  .item5 {
    grid-column: span 1;
  }
}

.item5 .author img {
  border-color: white;
}

.item5 .author .author-title h4 {
  color: white;
}

.item5 .author .author-title h5 {
  color: #a3a8b2;
}

.item5 .description {
  color: #a3a8b2;
}

.attribution {
  z-index: 0;
  position: fixed;
  bottom: 0%;
}
/*# sourceMappingURL=styles.css.map */