@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

$lightviolet: hsl(263, 36%, 71%);
$moderateviolet: hsl(263, 55%, 52%);
$verydarkgrayishblue: hsl(217, 19%, 35%);
$verydarkblackishblue: hsl(219, 29%, 14%);
$lightgray: hsl(0, 0%, 81%);
$lightgrayishblue: hsl(210, 46%, 95%);

$mobile-width: 700px;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $lightgrayishblue;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Barlow Semi Condensed";
}

.grid-container {
    display: grid;
    width: 70%;
    gap: 2rem;
    margin: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;

    @media screen and (max-width:$mobile-width) {
        grid-template-columns: 1fr;
        width: 90%;
        margin: 3rem 0;
    }

    .grid-item {
        position: relative;
        border-radius: 0.5rem;
        padding: 2em;
        height: 100%;
        box-shadow: 1em 2em 3em rgba(56, 56, 56, 0.164);

        @media screen and (max-width:$mobile-width) {
            grid-template-columns: 1fr;
            width: 90%;
            height: max-content;
            padding: 1em 2em;
        }

        .quote-pic {
            position: absolute;
            right: 15%;
            top: 0;
        }

        .content {
            position: relative;
        }

        .author {
            width: 100%;
            display: flex;
            align-items: center;

            img {
                border-radius: 50%;
                border-width: 2px;
                border-style: solid;
                width: 40px;
                height: 40px;
            }

            .author-title {
                margin-left: 1em;
                font-size: 13px;

                & > * {
                    margin: 0;
                }

                h4 {
                    font-weight: 500;
                }
                h5 {
                    font-weight: 600;
                }
            }
        }

        .headline {
            font-weight: 600;
            font-size: 20px;
        }

        .description {
            font-weight: 500;
            font-size: 13px;
        }
    }
}

.item1 {
    background: $moderateviolet;
    color: white;
    grid-column: span 2;
    
    @media screen and (max-width:$mobile-width) {
        grid-column: span 1;
    }

    .author {
        img {
            border-color: $lightviolet;
        }

        .author-title {
            h4 {
                color: hsl(270, 6%, 87%);
            }
            h5 {
                color: $lightviolet;
            }
        }
    }

    .description {
        color: $lightviolet;
    }
}

.item2 {
    background: $verydarkgrayishblue;
    color: white;
    
    @media screen and (max-width:$mobile-width) {
        
    }

    .author .author-title {
        h4 {
            color: hsl(0, 0%, 95%);
        }
        h5 {
            color: hsl(220, 9%, 67%);
        }
    }
}

.item3 {
    background: white;
    color: black;
    grid-row: span 2;
    
    @media screen and (max-width:$mobile-width) {
        
    }

    .author .author-title {
        h4 {
            color: $verydarkgrayishblue;
        }
        h5 {
            color: hsl(220, 9%, 67%);
        }
    }
}

.item4 {
    background: white;
    color: black;
    
    @media screen and (max-width:$mobile-width) {
        
    }

    .author .author-title {
        h4 {
            color: $verydarkgrayishblue;
        }
        h5 {
            color: hsl(220, 9%, 67%);
        }
    }
}

.item5 {
    background: $verydarkblackishblue;
    color: white;
    grid-column: span 2;
    
    @media screen and (max-width:$mobile-width) {
        grid-column: span 1;
    }

    .author .author-title {
        h4 {
            color: white;
        }
        h5 {
            color: hsl(220, 9%, 67%);
        }
    }
}

.attribution {
    z-index: -1;
    position: fixed;
    bottom: 0%;
}